body {
	background: rgba(70, 109, 109, 0.3) !important;
	padding-bottom: 70px; 
}

footer {
	position: absolute;
	font-size: 20px;
	width: 100%;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

main {
	padding-top: 70px;
}

#mainmenu {
	left: 0;
	background-color: #4287f5;
	position: fixed;
	width: 250px;
	padding-top: 57px;
}

#mainmenu a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 12px 8px 12px 16px;
	background-color: #4287f5;
}

#mainmenu a:hover {
	background-color: #5894f5;
}

.menu-sep {
	border-top: 1px solid #c5ccd6;
	margin-left: 5px;
	margin-right: 5px;
}

#container {
	margin-left: 260px;
	padding: 20px;
	min-height: 500px;
	padding-bottom: 70px;
}

main {
	padding-top: 57px;
}

.icon {
	font-size: 40px;
}

.description {
	font-size: 20px;
}

.tile {
	border-radius: 5px;
	background-color: #1fa0cf;
	color: white;
}

.tile:hover {
	cursor: pointer;
	background-color: #1A85AD;
}

.field_name {
	font-weight: bold;
}

.icon-btn:hover {
	cursor: pointer;
	color: lightgray;
}

.edit_input {
	border: none;
}

.title-tile {
	background-color: #1A85AD;
	color: white;
	font-size: 40px;
}

table, th, td {
  border: 1px solid lightgray;
}

.feedback {
	font-size: 20px;
	color: #1fa0cf;
	cursor: pointer;
}

.feedback:hover {
	color: #0262B4;
}

.contact-icon {
	font-size: 40px;
	color: #1A85AD;
}

.contact-content {
	padding-top: 15px;
	font-size: 16px;
}