body {
	background: rgba(70, 109, 109, 0.3) !important;
	padding-bottom: 70px; 
}

footer {
	position: absolute;
	font-size: 20px;
	width: 100%;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

main {
	padding-top: 70px;
}

.tile {
	color: white;
	border-radius: 5px;
}

.icon {
	font-size: 40px;
}

#quote {
	background-color: #0275d8;
	color: white;
	border-radius: 5px;
}

#bulb {
	font-size: 60px;
}

#quote_content {
	text-align: left;
	font-style: italic;
	font-size: 14px;
}

#quote_author {
	text-align: left;
}

#current_date {
	background-color: #5cb85c;
	font-size: 60px;
	color: white;
	border-radius: 5px;
}

.blue {
	background-color: #0275d8;
}

.blue:hover {
	cursor: pointer;
	background-color: #0262B4;
}

.red {
	background-color: #d9534f;
}

.red:hover {
	cursor: pointer;
	background-color: #B54542;
}

.green {
	background-color: #5cb85c;
}

.green:hover {
	cursor: pointer;
	background-color: #4D994D;
}

.orange {
	background-color: #f0ad4e;
}

.orange:hover {
	cursor: pointer;
	background-color: #C89041;
}

.azure {
	background-color: #1fa0cf;
}

.azure:hover {
	cursor: pointer;
	background-color: #1A85AD;
}

.contact-icon {
	font-size: 40px;
	color: #1A85AD;
}

.contact-content {
	padding-top: 15px;
	font-size: 20px;
}

.edit_input {
	border: none;
}

.field_name {
	font-weight: bold;
}

.icon-btn:hover {
	cursor: pointer;
	color: lightgray;
}

.invisible {
	display: none;
}